<md-toolbar layout="row" layout-align="space-between center">
    <fw-back-button></fw-back-button>
    <h2 class="md-toolbar-tools">
        {{ $ctrl.imovel.id ? 'Editar' : 'Adicionar' }} Imóvel
    </h2>
    <md-button ng-click="$ctrl.salvar()">Salvar</md-button>
</md-toolbar>
<div layout="column" layout-padding>
    <md-content>
        <md-input-container class="md-block">
            <label>Ordem</label>
            <input ng-model="$ctrl.imovel.ordem" type="number" step="1">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Numero</label>
            <input ng-model="$ctrl.imovel.numero" type="text">
        </md-input-container>
        <md-input-container>
            <label>Tipo</label>
            <md-select ng-model="$ctrl.imovel.tipo">
                <md-option ng-value="1">Residência</md-option>
                <md-option ng-value="2">Comércio</md-option>
                <md-option ng-value="3">Terreno Baldio</md-option>
                <md-option ng-value="4">Outros</md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Qtd. Habitantes</label>
            <input ng-model="$ctrl.imovel.habitantes" type="number" step="1">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Qtd. Cães</label>
            <input ng-model="$ctrl.imovel.caes" type="number" step="1">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Qtd. Gatos</label>
            <input ng-model="$ctrl.imovel.gatos" type="number" step="1">
        </md-input-container>
        <md-input-container class="md-block">
            <md-checkbox ng-model="$ctrl.imovel.ponto_estrategico">
                Ponto estratégico
            </md-checkbox>
        </md-input-container>
    </md-content>
</div>
