<md-toolbar class="md-tall" layout-align="center center" layout="row">
    <h2>SIADE</h2>
</md-toolbar>
<form layout="row" layout-align="center center" layout-padding ng-submit="$ctrl.doLogin()">
    <md-content flex-gt-sm="33" flex="100" layout="column" cg-busy="$ctrl.busy">
        <div ng-if="$ctrl.configurado" layout="column">
            <md-input-container class="md-block">
                <label>Usuário</label>
                <input type="text" required name="usuário" ng-model="$ctrl.username">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Senha</label>
                <input type="password" required name="senha" ng-model="$ctrl.password">
            </md-input-container>
            <md-button class="md-raised md-primary" type="submit">Entrar</md-button>
        </div>
        <divlayout="column" ng-if="!$ctrl.configurado">
            <md-button class="md-primary" ui-sref="signup">Inscrever-se</md-button>
        </div>
    </md-content>
</form>