<md-toolbar class="md-tall" layout-align="center center" layout="row">
    <h2>SIADE</h2>
</md-toolbar>
<form layout="row" layout-align="center center" layout-padding  ng-submit="$ctrl.doLogin()">
    <md-content flex-gt-sm="33" flex="100" layout="column" cg-busy="$ctrl.busy" ng-if="$ctrl.configurado">
        <md-input-container>
            <label>Usuário</label>
            <input type="text" required name="usuário" ng-model="$ctrl.username">
        </md-input-container>
        <md-input-container>
            <label>Senha</label>
            <input type="password" required name="senha" ng-model="$ctrl.password">
        </md-input-container>
        <md-button class="md-raised md-primary" type="submit">Entrar</md-button>
    </md-content>
    <div flex-gt-sm="33" flex="100" layout="column">
        <md-button class="md-primary" ui-sref="signup" ng-if="!$ctrl.configurado">Inscrever-se</md-button>
    </div>
</form>
