<form name="$ctrl.form" layout-fill layout="column" novalidate ng-submit="$ctrl.salvar()">
    <md-toolbar layout="row" layout-align="space-between center">
        <fw-back-button></fw-back-button>
        <h2 class="md-toolbar-tools">
            {{ $ctrl.usuario.id ? 'Editar' : 'Adicionar' }} Agente
        </h2>
        <md-button type="submit">Salvar</md-button>
    </md-toolbar>
    <div layout="column" layout-padding flex>
        <md-content layout="column">
            <md-input-container class="md-block">
                <label>Nome</label>
                <input name="nome" required type="text" ng-model="$ctrl.usuario.nome">
                <div ng-messages="$ctrl.form.nome.$error" role="alert">
                    <div ng-message="required">Campo obrigatório</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>CPF</label>
                <input name="username" required type="text" ng-model="$ctrl.usuario.username">
                <div ng-messages="$ctrl.form.username.$error" role="alert">
                    <div ng-message="required">Campo obrigatório</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>E-mail</label>
                <input name="email" type="email" ng-model="$ctrl.usuario.email">
            </md-input-container>
            <md-input-container>
                <label>Tipo</label>
                <md-select name="tipo" required ng-model="$ctrl.usuario.tipo">
                    <md-option ng-value="0">Agente de campo</md-option>
                    <md-option ng-value="1">Supervisor</md-option>
                </md-select>
                <div ng-messages="$ctrl.form.tipo.$error" role="alert">
                    <div ng-message="required">Campo obrigatório</div>
                </div>
            </md-input-container>
        </md-content>
    </div>
</form>
