<md-toolbar layout="row" layout-align="space-between center">
    <fw-menu-button target="left"></fw-menu-button>
    <h2 class="md-toolbar-tools">Agentes</h2>
    <md-button ui-sref="usuario.adicionar">Adicionar</md-button>
</md-toolbar>
<md-content flex layout="column" cg-busy="$ctrl.promise">
    <md-list>
        <md-list-item ui-sref="usuario.editar({usuarioId: usuario.id})" ng-repeat="usuario in $ctrl.usuarios">
            {{ usuario.nome }}
        </md-list-item>
    </md-list>
</md-content>
