<md-toolbar layout="row" layout-align="space-between center">
    <fw-menu-button target="left"></fw-menu-button>
    <h2 class="md-toolbar-tools">Detalhes do ciclo</h2>
    <md-button ng-hide="$ctrl.ciclo.fechado_em" ng-click="$ctrl.encerrar($event)">Encerrar</md-button>
    <md-button ng-show="$ctrl.ciclo.fechado_em" ui-sref="ciclo.iniciar">Iniciar novo</md-button>
</md-toolbar>
<md-content flex class="md-padding">
	<div layout-xs="column" layout="row" layout-wrap>
		<div flex="50" flex-xs="100">
			<md-card>
                <md-card-title>
                     <md-card-title-text>
                        <span class="md-headline">Ciclo <span ng-bind="$ctrl.ciclo"></span></span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div layout="row" layout-align="space-between center">
                        <div>Data início</div>
                        <div class="md-secondary">{{ $ctrl.ciclo.data_inicio|date }}</div>
                    </div>
                    <div layout="row" layout-align="space-between center">
                        <div>Data termino</div>
                        <div class="md-secondary">{{ $ctrl.ciclo.data_fim|date }} </div>
                    </div>
                    <div layout="row" layout-align="space-between center">
                        <div>Atividade</div>
                        <div class="md-secondary">{{ $ctrl.ciclo.atividade_label }} </div>
                    </div>
                    <div layout="row" layout-align="space-between center" ng-show="$ctrl.ciclo.fechado_em">
                        <div>Fechado em</div>
                        <div class="md-secondary">{{ $ctrl.ciclo.fechado_em|date }} </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
        <div flex="50" flex-xs="100">
			<md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Agentes</span>
                    </md-card-title-text>
                </md-card-title>
                <div>
                    <md-list class="md-dense" flex>
                        <md-list-item class="secondary-button-padding" ng-repeat="trabalho in $ctrl.trabalhos">
                            {{ trabalho.agente.nome }}
                            <span class="md-secondary">{{ trabalho.total_visitas || 0 }}/{{ trabalho.total_imoveis || 0 }}</span>
                        </md-list-item>
                    </md-list>
                </div>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ui-sref="ciclo.selecionar-agente">Distribuir quadras</md-button>
                </md-card-actions>
            </md-card>
		</div>
	</div>
</md-content>
