<form name="$ctrl.form" novalidate ng-submit="$ctrl.salvar()">
    <md-toolbar layout="row" layout-align="space-between center">
        <fw-back-button></fw-back-button>
        <h2 class="md-toolbar-tools">Iniciar ciclo</h2>
        <md-button type="submit">Salvar</md-button>
    </md-toolbar>
    <div layout="column" layout-padding>
        <md-content layout="column">
            <md-input-container class="md-block">
                <label>Data inicio</label>
                <md-datepicker name="data_inicio" required type="date" ng-model="$ctrl.ciclo.data_inicio">
                <div ng-messages="$ctrl.form.data_inicio.$error" role="alert">
                    <div ng-message="required">Campo obrigatório</div>
                    <div ng-message="valid">Data inválida</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Data termino</label>
                <md-datepicker name="data_fim" required type="date" ng-model="$ctrl.ciclo.data_fim">
                <div ng-messages="$ctrl.form.data_fim.$error" role="alert">
                    <div ng-message="required">Campo obrigatório</div>
                    <div ng-message="valid">Data inválida</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Atividade</label>
                <md-select name="atividade" required ng-model="$ctrl.ciclo.atividade">
                    <md-option ng-value="1">Levantamento de indice (LI)</md-option>
                    <md-option ng-value="2">Tratamento (T)</md-option>
                    <md-option ng-value="3">Levantamento de indice + Tratamento (LI+T)</md-option>
                </md-select>
                <div ng-messages="$ctrl.form.atividade.$error" role="alert">
                    <div ng-message="required">Campo obrigatório</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Ano base</label>
                <input name="ano_base" required type="number" step="1" ng-model="$ctrl.ciclo.ano_base">
                <div ng-messages="$ctrl.form.ano_base.$error" role="alert">
                    <div ng-message="required">Campo obrigatório</div>
                </div>
            </md-input-container>
        </md-content>
    </div>
</form>
