<form name="$ctrl.form" layout-fill layout="column" novalidate ng-submit="$ctrl.salvar()">
    <md-toolbar layout="row" layout-align="space-between center">
        <fw-back-button></fw-back-button>
        <h2 class="md-toolbar-tools">
            {{ $ctrl.logradouro.id ? 'Editar' : 'Adicionar' }} Logradouro
        </h2>
        <md-button type="submit">Salvar</md-button>
    </md-toolbar>
    <md-content class="md-padding" cg-busy="$ctrl.promise">
        <div layout="column">
            <md-input-container class="md-block">
                <label>Nome</label>
                <input name="nome" required type="text" ng-model="$ctrl.logradouro.nome">
                <div ng-messages="$ctrl.form.nome.$error" role="alert">
                    <div ng-message="required">Campo obrigatório</div>
                </div>
            </md-input-container>
        </div>
    </md-content>
</form>
