<md-toolbar layout="row" layout-align="space-between center">
    <fw-back-button></fw-back-button>
    <h2 class="md-toolbar-tools">
        {{ $ctrl.logradouro.id ? 'Editar' : 'Adicionar' }} Logradouro
    </h2>
    <md-button ng-click="$ctrl.salvar()">Salvar</md-button>
</md-toolbar>
<div layout="column" layout-padding>
    <md-content class="md-no-momentum">
        <md-input-container class="md-block">
            <label>Nome</label>
            <input ng-model="$ctrl.logradouro.nome" type="text">
        </md-input-container>
    </md-content>
</div>
