<md-toolbar layout="row" layout-align="space-between center">
    <fw-menu-button target="left"></fw-menu-button>
    <h2 class="md-toolbar-tools">Logradouros</h2>
    <md-button ui-sref="logradouro.adicionar">Adicionar</md-button>
</md-toolbar>
<md-content flex layout="column" cg-busy="logradourosPromise">
    <md-list>
        <md-list-item ui-sref="logradouro.editar({logradouro: logradouro})" ng-repeat="logradouro in logradouros">
            {{ logradouro.nome }}
        </md-list-item>
    </md-list>
</md-content>
